.app-footer {
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
}

.add-btn {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  background: var(--primary);
  color: #ffffff;
  border: none;
  font-size: 1.75rem;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.add-btn:hover {
  background-color: #1d4ed8;
}
